@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input [type=radio] {
  vertical-align: text-bottom;
}

input [type=checkbox] {
  vertical-align: bottom;
}

.ie7 input [type=checkbox] {
  vertical-align: baseline;
}

.ie6 input[type=checkbox] {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 99%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.05em;
}

sub {
  bottom: -0.025em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button,
.schedule-filters input {
  cursor: pointer;
}

button, .schedule-filters input,
input[type=button] {
  width: auto;
  overflow: hidden;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* Other Colors used */
body,
html {
  background-color: hsl(0deg, 0%, 85%);
  font-family: "Roboto", "sans-serif";
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 3440px;
  margin-inline: auto;
  margin-top: 3.5rem;
}

.navbar {
  position: fixed;
  width: 100%;
  max-width: 100vw;
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  z-index: 1;
  top: 0;
}
.navbar .user-info {
  position: absolute;
  padding: 0.25rem 0.5rem;
  margin: 1px;
  right: 0;
  background-color: #f9f9f9;
  pointer-events: none;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  max-height: 3.5rem;
}
.navbar ul .userCreate {
  display: none;
  visibility: hidden;
}
.navbar ul div, .navbar ul ul {
  max-height: 3.5rem;
  display: flex;
}
.navbar ul div .nav-logo img, .navbar ul ul .nav-logo img {
  height: 100%;
  width: 100%;
}
.navbar ul div .menu-button, .navbar ul ul .menu-button {
  display: none;
  visibility: hidden;
}
.navbar ul div .nav-item, .navbar ul ul .nav-item {
  display: flex;
  position: relative;
}
.navbar ul div .nav-item.dropdown:focus-within .dropdown, .navbar ul div .nav-item.dropdown:hover .dropdown, .navbar ul ul .nav-item.dropdown:focus-within .dropdown, .navbar ul ul .nav-item.dropdown:hover .dropdown {
  display: block;
  visibility: visible;
}
.navbar ul div .nav-item .dropdown, .navbar ul ul .nav-item .dropdown {
  display: none;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  right: 0;
  top: 100%;
  width: 100%;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  display: flex;
  flex-direction: column;
}
.navbar ul div .nav-item .dropdown li a, .navbar ul ul .nav-item .dropdown li a {
  padding: 0.5rem;
}
.navbar ul div .nav-item .dropdown li a:hover, .navbar ul ul .nav-item .dropdown li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.navbar ul div .nav-item a,
.navbar ul div .nav-item button,
.navbar ul div .nav-item .schedule-filters input,
.schedule-filters .navbar ul div .nav-item input, .navbar ul ul .nav-item a,
.navbar ul ul .nav-item button,
.navbar ul ul .nav-item .schedule-filters input,
.schedule-filters .navbar ul ul .nav-item input {
  display: block;
  color: #2d3436;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-decoration: none;
  padding: 0 1.5rem;
  height: 100%;
  border-top: 4px solid;
  border-color: transparent;
  display: grid;
  place-items: center;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.2666666667);
}
.navbar ul div .nav-item a.link:hover,
.navbar ul div .nav-item button.link:hover,
.navbar ul div .nav-item .schedule-filters input.link:hover,
.schedule-filters .navbar ul div .nav-item input.link:hover, .navbar ul ul .nav-item a.link:hover,
.navbar ul ul .nav-item button.link:hover,
.navbar ul ul .nav-item .schedule-filters input.link:hover,
.schedule-filters .navbar ul ul .nav-item input.link:hover {
  border-color: #3b0086 !important;
  filter: brightness(1.2);
  transition: border-color 100ms linear;
}
.navbar ul div .nav-item a.active,
.navbar ul div .nav-item button.active,
.navbar ul div .nav-item .schedule-filters input.active,
.schedule-filters .navbar ul div .nav-item input.active, .navbar ul ul .nav-item a.active,
.navbar ul ul .nav-item button.active,
.navbar ul ul .nav-item .schedule-filters input.active,
.schedule-filters .navbar ul ul .nav-item input.active {
  border-color: #21004a !important;
}
.navbar ul div .nav-item a.active:hover,
.navbar ul div .nav-item button.active:hover,
.navbar ul div .nav-item .schedule-filters input.active:hover,
.schedule-filters .navbar ul div .nav-item input.active:hover, .navbar ul ul .nav-item a.active:hover,
.navbar ul ul .nav-item button.active:hover,
.navbar ul ul .nav-item .schedule-filters input.active:hover,
.schedule-filters .navbar ul ul .nav-item input.active:hover {
  border-color: #3b0086 !important;
  filter: brightness(1.2);
}

.navbar-spacer {
  margin-top: 56px;
}

@media screen and (max-width: 1000px) {
  .navbar ul {
    flex-direction: column;
    background-color: #f9f9f9;
    height: 7rem;
  }
  .navbar ul .menu-button {
    display: grid !important;
    visibility: visible !important;
    place-items: center;
    position: absolute;
    right: 0.25rem;
    top: 0;
    bottom: 0;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  .navbar ul .menu-button i {
    font-size: 2.5rem;
  }
  .navbar ul .menu-button .fa-bars {
    transition: 150ms;
  }
  .navbar ul .menu-button .open {
    transform: rotate(90deg);
    transform-origin: center;
  }
  .navbar ul .links {
    flex-direction: column;
  }
  .navbar ul .links .nav-item {
    background-color: #f9f9f9;
  }
  .navbar ul .links .link {
    background-color: rgba(245, 246, 250, 0.6666666667);
  }
  .navbar ul .links {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 200ms ease-in-out;
  }
  .navbar ul .links .link {
    transition: opacity 100ms linear;
    transition-delay: 100ms;
    text-align: start;
  }
  .navbar ul .links.closed {
    transform: scaleY(0);
    transition-delay: 100ms;
  }
  .navbar ul .links.closed .link {
    opacity: 0;
    transition-delay: 0ms;
  }

  a.link {
    max-width: 100vw;
  }
}
@media screen and (max-width: 450px) {
  .navbar li.title {
    display: none !important;
  }
}
footer {
  background-color: hsl(266deg, 100%, 6%);
  margin-top: auto;
  border-top: 0.15rem solid #21004a;
  width: 100%;
  box-sizing: border-box;
}
footer * {
  color: #f1f2f6;
  box-sizing: border-box;
}
footer .sections {
  padding: 0 3rem;
  display: flex;
}
footer .info-container {
  width: 25%;
}
footer .info-container .content {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  margin: 0 auto;
  padding: 0.5rem 1rem;
}
footer .info-container .content h2 {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 1.5rem 0;
}
footer .info-container .content ul {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
footer .info-container .content ul li {
  margin: 1rem 0;
}
footer .info-container .content ul li a {
  text-decoration: none;
  transition: color 100ms linear;
}
footer .info-container .content ul li a:hover {
  color: #9473bd;
}
footer .info-container .content ul li i {
  color: #9473bd;
  padding-right: 1rem;
}
footer .info-container .content .contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 1rem;
}
footer .info-container .content .contact-form input, footer .info-container .content .contact-form textarea {
  padding: 0.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  resize: none;
  border-radius: 2px;
}
footer .info-container .content .contact-form button, footer .info-container .content .contact-form .schedule-filters input, .schedule-filters footer .info-container .content .contact-form input {
  color: #2d3436;
  background-color: #fff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  padding: 0.25rem 0.5rem;
  border-radius: 2px;
}
footer .payment-container {
  background-color: hsl(266deg, 100%, 11%);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
  padding: 2rem 0;
}
footer .payment-container i {
  color: #9473bd;
}
footer .payment-container .copyright {
  font-size: 1rem;
  width: 100%;
  text-align: center;
  color: #f1f2f6;
}
@media screen and (max-width: 768px) {
  footer .sections {
    flex-wrap: wrap;
  }
  footer .info-container {
    width: 45%;
  }
}
@media screen and (max-width: 512px) {
  footer .info-container {
    width: 100%;
  }
  footer .info-container .content {
    padding: 0;
  }
  footer .info-container * {
    text-align: center;
  }
}

.service-card {
  display: flex;
  flex-direction: column;
  background-color: hsl(0deg, 0%, 90%);
  padding: 4.5rem 3.5rem 3rem 3.5rem;
  margin-inline: auto;
  border-radius: 5px;
  position: relative;
  width: clamp(33vw, 33rem, 95vw);
  max-width: 42rem;
  font-size: clamp(1.15rem, 1.5vw, 1.5rem);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-top: 10px solid #21004a;
}
.service-card .title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: clamp(2rem, 1.5vw, 2.5rem);
  margin-bottom: 1rem;
}
.service-card .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1rem;
}
.service-card .row button, .service-card .row .schedule-filters input, .schedule-filters .service-card .row input {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: transparent;
  color: #21004a;
  text-decoration: underline;
}
.service-card .row img {
  height: 6rem;
}

.modal-container {
  display: none;
  visibility: hidden;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  z-index: 999;
}

.modal-container2 {
  display: none;
  visibility: hidden;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  z-index: 999;
}

.modal-container3 {
  display: none;
  visibility: hidden;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  z-index: 999;
}

.modal-container4 {
  display: none;
  visibility: hidden;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  z-index: 999;
}

.service-modal {
  background-color: #3b0086;
  color: white;
  width: clamp(33vw, 55rem, 95vw);
  padding: 2rem 0;
  overflow: hidden;
  position: relative;
  border-radius: 0.33rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.service-modal .title {
  text-align: center;
  font-size: clamp(2rem, 2vw, 3rem);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 2rem;
}
.service-modal .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  padding: 0.5rem;
  cursor: pointer;
}
.service-modal .close-btn i {
  font-size: 2rem;
}
.service-modal .close-btn:hover {
  background-color: hsl(266deg, 100%, 16%);
  color: white;
}
.service-modal .services {
  display: flex;
  flex-direction: column;
}
.service-modal .services li {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 2rem;
  background-color: rgba(148, 115, 189, 0.2666666667);
}
.service-modal .services li:nth-child(2n) {
  background-color: transparent;
}
.service-modal .services li.info-spacer {
  padding-bottom: 28px;
}
.service-modal .services li div {
  display: flex;
  align-items: center;
  font-size: clamp(1.15rem, 1.5vw, 1.5rem);
  font-weight: 400;
  position: relative;
  gap: 1rem;
}
.service-modal .services li div .additional-info {
  position: absolute;
  left: 2rem;
  top: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: inherit;
}
.service-modal .button-container {
  display: grid;
  place-items: center;
}
.service-modal .button-container a {
  background-color: #f9f9f9;
  padding: 0.25rem 0.5rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  font-size: 1.15rem;
  color: #2d3436;
  text-decoration: none;
}

.homeTitle {
  width: 40%;
  margin-left: 30%;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.homeAbout {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 1rem;
  padding: 3rem 4rem 3rem 4rem;
}

.homeAboutText {
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
}

.block {
  margin-bottom: 2rem;
  margin-left: 2rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
}

.slideshow-container {
  max-width: 40rem;
  height: 25rem;
  position: relative;
  margin: auto;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 1rem;
  overflow: hidden;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.slideBox {
  cursor: pointer;
  height: 1.5rem;
  width: 5rem;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 1rem;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .slideBox:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px;
  }
}
.slideimg {
  vertical-align: middle;
  aspect-ratio: 6/4;
  width: 100%;
  height: 100%;
}

.slideBoxs {
  text-align: center;
}

.schedule {
  max-width: 100%;
  height: 15rem;
  margin: 2rem 0 2rem 0;
  justify-content: center;
  text-align: center;
  background-color: #bbb;
  padding: 4rem 2rem 4rem 2rem;
}

@media screen and (max-width: 1000px) {
  .schedule {
    background-image: url(../../assets/blank.png);
  }
}
.phonetext {
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

.phonenumber {
  font-size: 1.5rem;
}

.phonenumber:hover {
  color: rgb(255, 0, 255);
}

.homeleft {
  height: 15rem;
  width: 100%;
  background-image: url(../../assets/hair.svg);
  background-repeat: no-repeat;
}

.homeright {
  height: 15rem;
  width: 100%;
  background-image: url(../../assets/add.svg);
  background-repeat: no-repeat;
}

.appointment-card {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  min-height: 10rem;
  padding: 1rem;
  background-color: #f9f9f9;
  font-size: clamp(1.15rem, 1.5vw, 1.5rem);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.appointment-card .col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.appointment-card .col.right {
  align-items: flex-end;
}
.appointment-card .col.right .cancel-appointment {
  margin-top: auto;
}
.appointment-card .col.right .cancel-warning {
  font-size: 80%;
}
.appointment-card .col .date {
  margin-top: auto;
}
.appointment-card .col h1 {
  font-size: 115%;
}

div.account {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  width: 250px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
div.account h1 {
  font-size: 1.5rem;
}
div.account h2 {
  font-size: 1rem;
  width: 100%;
}
div.account .acctType, div.account .name {
  text-transform: capitalize;
}
div.account .moreBtn, div.account .acctType {
  margin-top: 1rem;
  width: 50%;
  padding: 0.25rem;
}
div.account .moreBtn {
  border-radius: 0.5rem;
  background-color: #21004a;
  color: #fff;
}

div#prevAppt {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(13, 0, 31, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
div#prevAppt div#prevApptModal {
  background-color: #fff;
  width: 80%;
  padding: 1rem;
}
div#prevAppt div#prevApptModal h1 {
  font-size: clamp(2.5rem, 3vw, 4rem);
  text-align: center;
}
div#prevAppt div#prevApptModal div#appts {
  overflow-y: auto;
  height: 50vh;
}
div#prevAppt div#prevApptModal div.appt {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  margin-bottom: 0.5rem;
}
div#prevAppt div#prevApptModal div.appt div {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
div#prevAppt div#prevApptModal div.appt div h2, div#prevAppt div#prevApptModal div.appt div h3 {
  width: 100%;
}
div#prevAppt div#prevApptModal div.appt div h2 {
  font-size: 1.5rem;
}
div#prevAppt div#prevApptModal div.appt div h3 {
  font-size: 1rem;
}
div#prevAppt div#prevApptModal div.appt div.rightHalf {
  align-content: flex-start;
  justify-content: flex-end;
}
div#prevAppt div#prevApptModal div.appt div.rightHalf h2, div#prevAppt div#prevApptModal div.appt div.rightHalf h3 {
  text-align: right;
}
div#prevAppt div#prevApptModal div.appt div.rightHalf button, div#prevAppt div#prevApptModal div.appt div.rightHalf .schedule-filters input, .schedule-filters div#prevAppt div#prevApptModal div.appt div.rightHalf input {
  border-radius: 0.5rem;
  background-color: #21004a;
  color: #fff;
  padding: 0.5rem;
}

.banner-container {
  background-color: #2d3436;
  min-width: 100%;
  max-height: 34rem;
  min-height: 24rem;
  display: flex;
  position: relative;
}
.banner-container img {
  display: block;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.7);
}
.banner-container .title {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 95%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-size: clamp(2.5rem, 3vw, 4rem);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4666666667);
}

.service-container .container-title {
  text-align: center;
  font-size: clamp(2rem, 2vw, 3rem);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 3rem;
}
.service-container .service-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3rem;
  grid-gap: 3rem;
}
@media screen and (max-width: 1280px) {
  .service-container .service-card-container {
    grid-template-columns: 1fr;
    margin-inline: auto;
  }
}

/* General button style */
.btn {
  border: none;
  font-family: "Poppins";
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 8px 28px;
  display: inline-block;
  margin: 4px;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  transition: all 0.3s;
}

.btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

/* Button 3 */
.btn-3 {
  background: #e74c3c;
  color: #fff;
}

.btn-3:hover {
  background: #c0392b;
}

.btn-3:active {
  background: #c0392b;
  top: 2px;
}

.btn-3:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

.appointments-title {
  font-size: clamp(2.5rem, 3vw, 4rem);
  margin-block: 2rem;
}

.appointments-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1.5rem;
  margin-top: 0;
}

#loginForm,
#signUpForm {
  background-color: hsl(266deg, 100%, 6%);
  color: #f1f2f6;
}
#loginForm h1,
#signUpForm h1 {
  text-align: center;
  font-size: clamp(2.5rem, 3vw, 4rem);
  margin-bottom: 2rem;
}
#loginForm .inputs,
#signUpForm .inputs {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0.25rem;
}
#loginForm .inputs input,
#signUpForm .inputs input {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1333333333);
  padding: 0.75rem 1rem;
}
#loginForm .inputs input:last-of-type,
#signUpForm .inputs input:last-of-type {
  border: none;
}
#loginForm .login,
#loginForm .signIn,
#signUpForm .login,
#signUpForm .signIn {
  color: currentColor;
  background-color: #3b0086;
  border: none;
  width: 100%;
  padding: 0.75rem;
  margin: 1rem 0;
  border-radius: 0.25rem;
  cursor: pointer;
}
#loginForm .login:hover, #loginForm .login:focus-within,
#loginForm .signIn:hover,
#loginForm .signIn:focus-within,
#signUpForm .login:hover,
#signUpForm .login:focus-within,
#signUpForm .signIn:hover,
#signUpForm .signIn:focus-within {
  filter: brightness(1.5);
}
#loginForm .form-error,
#signUpForm .form-error {
  color: #f1f2f6;
  text-align: center;
  margin: 0;
  display: none;
  visibility: hidden;
}

#loginForm,
#signUpForm {
  width: clamp(30vw, 25rem, 90vw);
  font-size: clamp(1.25rem, 2.5vw, 1.5rem);
  padding: 5rem 3rem;
  box-sizing: border-box;
  border-radius: 0.75rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
@media screen and (max-width: 380px) {
  #loginForm,
#signUpForm {
    padding-inline: 1rem;
  }
}
#loginForm .loginOption,
#signUpForm .loginOption {
  background-color: transparent;
  color: currentColor;
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
#loginForm .loginOption:hover, #loginForm .loginOption.focus-within,
#signUpForm .loginOption:hover,
#signUpForm .loginOption.focus-within {
  text-decoration: underline;
}
#loginForm .loginOption a,
#signUpForm .loginOption a {
  color: currentColor;
  text-decoration: none;
}
#loginForm .loginOption a:active,
#signUpForm .loginOption a:active {
  filter: brightness(0.6);
}

.page-title {
  font-size: clamp(2.5rem, 3vw, 4rem);
  max-width: 100vw;
  text-align: center;
}

div#allAccounts {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 70%;
}

.form-container {
  width: clamp(33vw, 80rem, 95vw);
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.form-container .form-submit-btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1.75rem;
  margin: 0.5rem;
  margin-left: auto;
  padding: 0.5rem 2.5rem;
  border-radius: 0.25rem;
  background-color: #4CAF50;
  color: #222;
}

.row {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.row .col {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.row .col h1 {
  font-size: clamp(2.5rem, 3vw, 4rem);
  margin: 1.5rem 0;
}
.row .col label {
  margin-top: 0.75rem;
  font-size: 18px;
}
.row .col label:first-of-type {
  margin-top: 0;
}
.row .col input, .row .col select {
  padding: 0.5rem 0.25rem;
}
.row .col textarea {
  resize: none;
}
.row .col .button-container {
  display: flex;
  justify-content: space-between;
}
.row .col .button-container button, .row .col .button-container .schedule-filters input, .schedule-filters .row .col .button-container input {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0.5rem;
  padding: 0.5rem 2.5rem;
  border-radius: 0.25rem;
  background-color: #bdc3c7;
  color: #222;
  font-weight: bold;
}

/* Other Colors used */
#newApptPage {
  justify-content: flex-start;
  margin-top: 0;
}

.newApptContainer {
  margin-top: 3.5rem;
  max-width: 100vw;
}

#new-appt-form {
  display: flex;
  row-gap: 0.5rem;
  flex-direction: column;
  width: clamp(30rem, 50vw, 40rem);
  max-width: 100vw;
}
#new-appt-form #date-input, #new-appt-form #time-input, #new-appt-form textarea {
  font-family: Arial, Helvetica, sans-serif;
}
#new-appt-form input {
  font-size: clamp(1.5rem, 1.5vw, 2rem);
}
#new-appt-form input:last-child {
  font-size: clamp(1rem, 1vw, 1.5rem);
}
#new-appt-form h2 {
  font-size: clamp(1.5rem, 1.5vw, 2rem);
  margin-top: 1.5rem;
}
#new-appt-form textarea {
  width: 100%;
  min-height: 10rem;
  resize: none;
  margin-bottom: 4rem;
  font-size: clamp(1.5rem, 1.5vw, 2rem);
}
#new-appt-form .dropdown-row {
  display: flex;
  margin-left: 1.5rem;
}
#new-appt-form .dropdown-row p {
  margin-left: auto;
}
#new-appt-form .dropdown-row input {
  margin: auto 0;
  width: 1.1rem;
  height: 1.1rem;
}
#new-appt-form .dropdown-row label {
  margin-left: 0.25rem;
}

#new-appt-form > input, div.dropdown-input, textarea {
  max-width: 100vw;
  border-radius: 0.3rem;
  box-sizing: border-box;
  padding: 0.25rem;
  background-color: #fff;
}

.dropdown-input {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
}
.dropdown-input * {
  font-size: clamp(1.5rem, 1.5vw, 2rem);
}

.title-row {
  display: flex;
  justify-content: space-between;
}
.title-row p {
  font-weight: 700;
}
.title-row:hover {
  cursor: pointer;
}
.title-row i {
  transition: 0.25s transform ease;
}
.title-row.accordionActive i {
  transform: rotate(180deg);
}

#price-calculator {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  background-color: #2d3436;
  box-sizing: border-box;
  padding: 0.5rem;
  height: 3rem;
  z-index: 1;
  max-width: 100vw;
}
#price-calculator * {
  color: #fff;
}
#price-calculator p {
  margin: auto 0;
}
#price-calculator .price-calc-right {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
#price-calculator input {
  background-color: #4CAF50;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 0 0.5rem;
  transition: 0.3s ease color;
}
#price-calculator input:hover {
  color: #d8d8d8;
}

.accordionActive + .panel {
  transition: max-height 0.2s ease-out, opacity 0.4s linear;
  z-index: 0;
}

.panel {
  opacity: 0;
  max-height: 0;
  transition: max-height 0.2s ease-out, opacity 0s linear;
  z-index: -1;
}

.appt-time {
  display: flex;
  gap: 0.25rem;
}

.checkbox:hover {
  cursor: pointer;
}

#newApptTitle {
  margin: 1.5rem 0;
}

@media screen and (max-width: 430px) {
  #new-appt-form textarea {
    margin-bottom: 7.2rem;
  }
  #new-appt-form .appt-time {
    margin: 0 auto;
  }
  #new-appt-form #estimated-price {
    margin: 0 auto;
  }
  #new-appt-form input:last-child {
    font-size: clamp(1.25rem, 1.25vw, 1.5rem);
  }

  #price-calculator {
    flex-direction: column;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    gap: 0.25rem;
  }
  #price-calculator *, #price-calculator input {
    font-size: clamp(1.25rem, 1.25vw, 1.5rem);
  }
  #price-calculator .price-calc-right {
    flex-direction: column;
    margin: 0;
    gap: 0;
    gap: 0.25rem;
  }
  #price-calculator .price-calc-right input {
    width: 100%;
    height: 2rem;
    margin: 0 auto;
  }
}
.schedule-filters {
  background-color: #2d3436;
  display: flex;
  width: clamp(10rem, 60rem, 100%);
  height: 4rem;
  box-sizing: border-box;
  padding: 0.75rem;
  gap: 0.75rem;
}
.schedule-filters button, .schedule-filters input {
  box-sizing: border-box;
  padding-inline: 0.5rem;
  background-color: #f9f9f9;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 0.5rem;
  width: 6rem;
}
.schedule-filters input {
  margin-left: auto;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}/*# sourceMappingURL=main.css.map */