<nav class="navbar">
  <ul>
      <div class="align-left">
        <li class="nav-logo"><a href="/"><img src="./assets/Program-Icon-Banner.png" alt="West-MEC Veterinary Science Logo"></a>
        </li>
          <li class="menu-button"><button aria-label="toggle-menu-button" onClick="toggleNav()"><i class="fas fa-bars"></i></button></li>
      </div>
      <div class="align-right links closed">
          <li class="nav-item" onClick="toggleNav()"><a class="link" href="/schedule">Schedule</a></li>
          <li class="nav-item" onClick="toggleNav()"><a class="link" href="/new-visit">New Visit</a></li>
          <li class="nav-item" onClick="toggleNav()"><a class="link" href="#">New Appointment</a></li>
          <li class="nav-item" onClick="toggleNav()"><a class="link" href="#">Accounts</a></li>
          <li class="nav-item" onClick="toggleNav()"><a class="link" href="#">New User</a></li>
      </div>
  </ul>
</nav>