<nav class="navbar">
    <ul>
        <div class="align-left">
            <li class="nav-logo"><img src="./assets/Program-Icon-Banner.png" alt="West-MEC Veterinary Science Logo">
            </li>
            <li class="menu-button"><button aria-label="toggle-menu-button"><i class="fas fa-bars"></i></button></li>
        </div>
        <div class="align-right links closed">
            <li class="nav-item"><a class="link" href="/schedule">Schedule</a></li>
            <li class="nav-item"><a class="link" href="/new-visit">New Visit</a></li>
            <li class="nav-item"><a class="link" href="/newAppointment">New Appointment</a></li>
            <li class="nav-item"><a class="link" href="/accounts">Accounts</a></li>
            <li class="nav-item"><a class="link" href="create-user">New User</a></li>
        </div>
    </ul>
</nav>