<nav class="navbar">
  <ul>
      <div class="align-left">
        <li class="nav-logo"><a href="/"><img src="./assets/Program-Icon-Banner.png" alt="West-MEC Veterinary Science Logo"></a>
        </li>
          <li class="menu-button"><button aria-label="toggle-menu-button" onClick="toggleNav()"><i class="fas fa-bars"></i></button></li>
      </div>
      <div class="align-right links closed">
          <li class="nav-item" onClick="toggleNav()"><a class="link" id="schedule" href="/schedule">Schedule</a></li>
          <li class="nav-item" onClick="toggleNav()"><a class="link" id="newVisit" href="/newVisit">New Visit</a></li>
          <li class="nav-item" onClick="toggleNav()"><a class="link" id="newAppointment" href="/newAppointment">New Appointment</a></li>
          <li class="nav-item" onClick="toggleNav()"><a class="link" id="accounts" href="/accounts">Accounts</a></li>
          <li class="nav-item" onClick="toggleNav()"><a class="link" id="createUser" href="/createUser">New User</a></li>
      </div>
  </ul>
</nav>