<div class="appointment-card">
  <div class="col">
    <h1 class="service-names">Haircut, Hair Dye</h1>
    <p class="add-on-services">Ironing, Scalp Treatment</p>

    <p class="date">May 8<sup>th</sup> 2022 @ 3:30</p>
    <h1 class="name">John Doe</h1>
  </div>
  <div class="col right">
    <p class="estimated-price">Estimated Price: $999.99</p>

    <button class="cancel-appointment btn btn-3">Cancel</button>
    <p class="cancel-warning">Cancellation not available within 24 hours of appointment.</p>
  </div>
</div>