<footer>
  <div class="sections">
    <div class="info-container">
      <div class="content">
        <h2>about us</h2>
        <ul>
          <li>The interactive Hairstyling Program teaches students the latest techniques in hairstyling, haircutting, and coloring from experienced cosmetology professionals in a state-of-the-art salon setting.</li>
          <li><i class="fas fa-map-marker-alt"></i><a href="#">500 N. Verrado Way Buckeye, AZ 85326</a></li>
          <li><i class="fas fa-phone-alt"></i><a href="#">(623)-877-6927</a></li>
          <li><i class="fas fa-envelope"></i><a href="#">Get email from them</a></li>
        </ul>
      </div>
    </div>

    <div class="info-container">
      <div class="content">
        <h2>Services</h2>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Schedule Appointment</a></li>
          <li><a href="#">Account</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
    </div>

    <div class="info-container">
      <div class="content">
        <h2>Information</h2>
        <ul>
          <li><a href="https://west-mec.edu/hairstyling-program/">Program Page</a></li>
          <li><a href="https://west-mec.edu/wp-content/uploads/2021/10/Hairstyling-S.S.docx.pdf">Scope & Sequence</a></li>
          <li><a href="https://west-mec.edu/wp-content/uploads/2021/08/West-MEC-Career-Trees_Hairstyling.pdf">Hairstyling Career Tree</a></li>
          <li><a href="https://west-mec.edu/wp-content/uploads/2021/08/West-MEC-ProfSkills-Rubric.pdf">Professional Skills Rubric</a></li>
        </ul>
      </div>
    </div>

    <div class="info-container">
      <div class="content">
        <h2>Contact</h2>
        <form class="contact-form" action="/">
          <input type="text" name="name" placeholder="Name">
          <input type="email" name="email" placeholder="Email">
          <textarea name="message" id="message" rows="4" placeholder="Message"></textarea>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <div class="payment-container">
    <a href="https://www.instagram.com/westmecnwchairstyling/"><i class='fab fa-instagram'></i></a>
    <a href="https://www.instagram.com/westmecnwchairstyling/"><i class='fab fa-facebook-f'></i></a>
    <a href="https://www.instagram.com/westmecnwchairstyling/"><i class='fab fa-twitter'></i></a>
    <a href="https://www.instagram.com/westmecnwchairstyling/"><i class='fab fa-linkedin-in'></i></a>
    <a href="https://www.instagram.com/westmecnwchairstyling/"><i class='fab fa-youtube'></i></a>
    <span class="copyright">Copyright &copy; All rights reserved | Template Made By <a href="">JD Blackman</a></span>
  </div>
</footer>