<nav class="navbar">
  <ul>
      <div class="align-left">
          <li class="nav-logo"><img src="./assets/Program-Icon-Banner.png" alt="West-MEC Veterinary Science Logo">
          </li>
          <li class="menu-button"><button aria-label="toggle-menu-button"><i class="fas fa-bars"></i></button></li>
      </div>
      <div class="align-right links closed">
          <li class="nav-item"><a class="link active" href="/">Home</a></li>
          <li class="nav-item"><a class="link" href="/about">About</a></li>
          <li class="nav-item"><a class="link" href="/adopt">Adopt</a></li>
      </div>
  </ul>
</nav>