<nav class="navbar">
  <ul>
      <div class="align-left">
          <li class="nav-logo"><a href="/"><img src="./assets/Program-Icon-Banner.png" alt="West-MEC Veterinary Science Logo"></a>
          </li>
          <li class="menu-button"><button aria-label="toggle-menu-button" onClick="toggleNav()"><i class="fas fa-bars"></i></button></li>
      </div>
      <div class="align-right links closed">
          <li class="nav-item" onclick="toggleNav()"><a class="link" href="/">Home</a></li>
          <li class="nav-item" onclick="toggleNav()"><a class="link" id="schedule-link" href="#schedule-appt-anchor">Schedule Appointment</a></li>
          <!-- <li class="nav-item dropdown">
              <a class="link" href="/account">Account</a>
              <ul class="dropdown">
                  <li><a href="#">Name</a></li>
                  <li><a href="/account">Profile</a></li>
                  <li><a href="#">Logout</a></li>
              </ul>
        </li> -->
      </div>
  </ul>
</nav>