<nav class="navbar">
  <ul>
      <div class="align-left">
          <li class="nav-logo"><img src="./assets/Program-Icon-Banner.png" alt="West-MEC Veterinary Science Logo">
          </li>
          <li class="menu-button"><button aria-label="toggle-menu-button"><i class="fas fa-bars"></i></button></li>
      </div>
      <div class="align-right links closed">
          <li class="nav-item"><a class="link active" href="/">Home</a></li>
          <li class="nav-item"><a class="link" href="#">Schedule Appointment</a></li>
          <!-- <li class="nav-item dropdown">
              <a class="link" href="/account">Account</a>
              <ul class="dropdown">
                  <li><a href="#">Name</a></li>
                  <li><a href="/account">Profile</a></li>
                  <li><a href="#">Logout</a></li>
              </ul>
        </li> -->
      </div>
  </ul>
</nav>