$price-calc-height: 3rem;

#new-appt-form {
    display: flex;
    row-gap: .5rem;
    flex-direction: column;
    textarea {
        margin-bottom: $price-calc-height;
        width: 100%;
        min-height: 10rem;
        resize: none;
    }
    .dropdown-row {
        display: flex;
        p {
            margin-left: auto;
        }
    }
}

#new-appt-form > input, div.dropdown-input, textarea {
    border: 1px solid $dark-background;
    max-width: 100vw;
    border-radius: .3rem;
    box-sizing: border-box;
    padding: .25rem;
    background-color: $clr-white;
}

#price-calculator {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: $dark-background;
    box-sizing: border-box;
    padding: .5rem;
    height: $price-calc-height;
    * {
        color: $clr-white;
    }
    p:first-child {
        margin-right: auto;
        margin: auto 0;
    }
    .price-calc-right {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        gap: .5rem;
    }
    input {
        background-color: $clr-green-dark;
        border-radius: .5rem;
        box-sizing: border-box;
        padding: 0 .5rem;
        transition: 0.3s ease color;
        &:hover {
            color: $medium-light-background;
        }
    }
}