
<div class="service-card">
    <div class="title">Add-on Services</div>
    <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique explicabo eum nulla quod? Facilis, amet.</p>
    <div class="row">
        <button onClick="showModal4()">See More</button>
        <img src="../../assets/add.png" alt="Icon">
    </div>
</div>