<div class="service-card">
    <div class="title">Hair Services</div>
    <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique explicabo eum nulla quod? Facilis, amet.</p>
    <div class="row">
        <button onClick="showModal()">See More</button>
        <img src="../../assets/hair.png" alt="Icon">
    </div>
</div>