<div class="service-card">
    <div class="title">Color Services</div>
    <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique explicabo eum nulla quod? Facilis, amet.</p>
    <div class="row">
        <button onClick="showModal2()">See More</button>
        <img src="../../assets/color.svg" alt="Icon">
    </div>
</div>
