<div class="modal-container-brk">
    <div class="cancel-modal">
        <h1 class="modal-title"><%= title %></h1>
        <p><%= text %></p>
        <button class="confirm-btn"><%= option1 %></button>
        <button class="deny-btn"><%= option2 %></button>
    </div>
</div>