<button id="upload_widget" class="cloudinary-button">Upload files</button>

<script src="https://upload-widget.cloudinary.com/global/all.js"></script>

<script>
	window.onload = async function () {
		const data = await (await fetch('/api/signuploadwidget')).json();

		const options = {
			cloudName: data.cloudname,
			apiKey: data.apikey,
			uploadSignatureTimestamp: data.timestamp,
			uploadSignature: data.signature,
			cropping: false,
			folder: 'signed_upload_demo_uw'
		}

		const myWidget = window.cloudinary.createUploadWidget(
			options
		)
		document.getElementById('upload_widget').addEventListener('click', () => myWidget.open(), false);
	}
</script>