$backgroundColor: hsl(0, 0%, 85%);

$light-background: #f9f9f9;
$light-background-translucent: #f5f6faaa;
$medium-light-background: #d8d8d8;

$dark-background: #2d3436;
$light-gray-background: #bdc3c7;

$font-color-light: #f1f2f6;
$font-color-dark: #17161d;
$font-color-darkblue: hsl(210, 29%, 25%);

$clr-light-0: hsl(0, 0%, 90%);
$clr-light-1: hsl(267, 36%, 80%);
$clr-light-2: hsl(267, 7%, 76%);
$clr-light-3: hsl(267, 36%, 70%);
$clr-light-4: hsl(267, 36%, 65%);
$clr-light-5: hsl(267, 36%, 60%);

$clr-primary-0: hsl(266, 100%, 6%);
$clr-primary-1: hsl(266, 100%, 11%);
$clr-primary-2: hsl(266, 100%, 16%);
$clr-primary-3: hsl(266, 100%, 21%);
$clr-primary-4: hsl(266, 100%, 26%);

$clr-accent-0: #21004a;
$clr-accent-1: #3b0086;
$clr-accent-2: #9473bd;
$clr-accent-transparent: #9473bd44;

$clr-dark-transparent-0: rgba(0, 0, 0, 0.1);
$clr-dark-transparent: rgba(0, 0, 0, 0.2);
$clr-dark-transparent-2: rgba(0, 0, 0, 0.5);
$clr-light-transparent-0: rgba(255, 255, 255, 0.1);
$clr-light-transparent: rgba(255, 255, 255, 0.2);
$clr-light-transparent-2: rgba(255, 255, 255, 0.5);

$clr-darkblue-0: hsl(210, 29%, 10%);
$clr-darkblue-1: hsl(210, 29%, 15%);
$clr-darkblue-2: hsl(210, 29%, 20%);
$clr-darkblue-3: hsl(210, 29%, 25%);

/* Other Colors used */
$clr-white: #fff;
$clr-black: #222;
$font-dark: #2d3436;
$transparent-dark: #00000066;
$transparent-darker: #00000099;
$font-light: $light-background;
$clr-red-dark: hsl(360, 67%, 44%);
$clr-red-light: hsl(360, 71%, 66%);
$clr-green-dark: #4CAF50;
$clr-green-light: hsl(125, 71%, 66%);
$btn-light: #949494;
$btn-dark: #303030;

$dark-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$dark-shadow-big: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;