<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
</head>
<body class="container">
    <%- include('../../partials/navbar'); %>
    
    <h1>Schedule Appointment</h1>

    <form action="" id="new-appt-form">
        <input type="text" placeholder="Name" name="name" id="name-input">
        <input type="email" placeholder="Email" name="email" id="email-input">
        <input type="date" name="date" id="date-input">

        <div class="dropdown-input">
            <p>Hair</p>
            <button class="drop-down-btn">Down</button>

            <div class="dropdown-row">
                <input type="checkbox" name="haircut" id="haircut">
                <label for="haircut">Haircut</label>
                <p>$9</p>
            </div>

            <div class="dropdown-row">
                <input type="checkbox" name="bang-cut" id="bang-cut">
                <label for="bang-cut">Bang Cut</label>
                <p>$5</p>
            </div>

            <div class="dropdown-row">
                <input type="checkbox" name="formal-style" id="formal-style">
                <label for="formal-style">Special Occasion / Formal Style</label>
                <p>$20+</p>
            </div>

            <div class="dropdown-row">
                <input type="checkbox" name="braid" id="braid">
                <label for="braid">Braid / Twist / Full Style</label>
                <p>$30</p>
            </div>

            <div class="dropdown-row">
                <input type="checkbox" name="full-thermal-style" id="full-thermal-style">
                <label for="full-thermal-style">Full Thermal Style</label>
                <p>$20</p>
            </div>

            <div class="dropdown-row">
                <input type="checkbox" name="wet-style" id="wet-style">
                <label for="wet-style">Wet Style</label>
                <p>$10</p>
            </div>

            <div class="dropdown-row">
                <input type="checkbox" name="blowout-style" id="blowout-style">
                <label for="blowout-style">Blowout Style</label>
                <p>$12</p>
            </div>

            <div class="dropdown-row">
                <input type="checkbox" name="shampoo" id="shampoo">
                <label for="shampoo">Shampoo</label>
                <p>$3</p>
            </div>
        </div>

        <div class="dropdown-input">
            <p>Color</p>
            <button class="drop-down-btn">Down</button>
        
            <div class="dropdown-row">
                <input type="checkbox" name="hair-color" id="hair-color">
                <label for="hair-color">Hair Color</label>
                <p>$25+</p>
            </div>
        
            <div class="dropdown-row">
                <input type="checkbox" name="full-foil" id="full-foil">
                <label for="full-foil">Full Foil</label>
                <p>$40+</p>
            </div>
        
            <div class="dropdown-row">
                <input type="checkbox" name="partial-foil" id="partial-foil">
                <label for="partial-foil">Partial Foil</label>
                <p>$30+</p>
            </div>
        
            <div class="dropdown-row">
                <input type="checkbox" name="ind-foils" id="ind-foils">
                <label for="ind-foils">Individual Foils</label>
                <p>$3</p>
            </div>
        
            <div class="dropdown-row">
                <input type="checkbox" name="lighten&tone" id="lighten&tone">
                <label for="lighten&tone">Lighten & Tone</label>
                <p>$45+</p>
            </div>
        
            <div class="dropdown-row">
                <input type="checkbox" name="ombre" id="ombre">
                <label for="ombre">Ombre / Balyage</label>
                <p>$50+</p>
            </div>
        
            <div class="dropdown-row">
                <input type="checkbox" name="extra-color" id="extra-color">
                <label for="extra-color">Extra Color</label>
                <p>$10</p>
            </div>
        
            <div class="dropdown-row">
                <input type="checkbox" name="intensity-color" id="intensity-color">
                <label for="intensity-color">Intensity Color</label>
                <p>$10</p>
            </div>

            <div class="dropdown-row">
                <input type="checkbox" name="color-correction" id="color-correction">
                <label for="color-correction">Color Correction</label>
                <p>By Consultation</p>
            </div>
        </div>

        <div class="dropdown-input">
            <p>Chemical Texturing</p>
            <button class="drop-down-btn">Down</button>
        
            <div class="dropdown-row">
                <input type="checkbox" name="perm" id="perm">
                <label for="perm">Perm</label>
                <p>$25</p>
            </div>
        
            <div class="dropdown-row">
                <input type="checkbox" name="specialty-wrap" id="specialty-wrap">
                <label for="specialty-wrap">Specialty Wrap</label>
                <p>$35</p>
            </div>
        
            <div class="dropdown-row">
                <input type="checkbox" name="extra-perm-box" id="extra-perm-box">
                <label for="extra-perm-box">Extra Perm Box</label>
                <p>$10</p>
            </div>
        
            <div class="dropdown-row">
                <input type="checkbox" name="relaxer" id="relaxer">
                <label for="relaxer">Relaxer</label>
                <p>$45</p>
            </div>
        
            <div class="dropdown-row">
                <input type="checkbox" name="curl-reformation" id="curl-reformation">
                <label for="curl-reformation">Curl Reformation</label>
                <p>$45</p>
            </div>
        </div>

        <div class="dropdown-input">
            <p>Add on Services</p>
            <button class="drop-down-btn">Down</button>
        
            <div class="dropdown-row">
                <input type="checkbox" name="flat" id="flat">
                <label for="flat">Flat / Curling Iron</label>
                <p>$5</p>
            </div>
        
            <div class="dropdown-row">
                <input type="checkbox" name="deep-condition" id="deep-condition">
                <label for="deep-condition">Deep Condition</label>
                <p>$5</p>
            </div>  
        
            <div class="dropdown-row">
                <input type="checkbox" name="scalp-treatment" id="scalp-treatment">
                <label for="scalp-treatment">Scalp Treatment</label>
                <p>$5</p>
            </div>
        
            <div class="dropdown-row">
                <input type="checkbox" name="individual-braid" id="individual-braid">
                <label for="individual-braid">Individual Braid</label>
                <p>$5</p>
            </div>
        
            <div class="dropdown-row">
                <input type="checkbox" name="high-frequency" id="high-frequency">
                <label for="high-frequency">High Frequency</label>
                <p>$5</p>
            </div>
        </div>

        <h2>Additional Information</h2>
        <textarea name="add-notes" id="add-notes" placeholder="Notes" cols="30" rows="10"></textarea>

        <div id="price-calculator">
            <p>May 10th, 2022 @ 3:30 PM</p>
            <div class="price-calc-right">
                <p>Estimated Price: $999</p>
                <input type="submit" value="Submit">
            </div>
        </div>
    </form>
</body>
</html>