<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
</head>
<body class="container">
    <%- include('../../partials/navbar'); %>
    
    <img src="../../assets/placeholder-image.png" alt="profile-picture" class="profile-picture">
    <h1 class="page-title">John Doe's Profile</h1>

    <div class="profile-info-container">
        <div class="profile-info-col">
            <h2>Personal Information</h2>
            <div class="profile-info-row">
                <p>Name</p>
                <p>John Doe</p>
            </div>
            <div class="profile-info-row">
                <p>Address</p>
                <p>1234 W North Ave</p>
            </div>
            <div class="profile-info-row">
                <p>City</p>
                <p>Phoenix</p>
            </div>
            <div class="profile-info-row">
                <p>State</p>
                <p>Arizona</p>
            </div>
            <div class="profile-info-row">
                <p>Zip Code</p>
                <p>80609</p>
            </div>
            <div class="profile-info-row">
                <p>Phone Number</p>
                <p>(123) 456-7890</p>
            </div>
            <div class="profile-info-row">
                <p>Email</p>
                <p>johndoe@gmail.com</p>
            </div>
            <div class="profile-info-row">
                <p>Date of Birth</p>
                <p>March 18th, 2022</p>
            </div>
        </div>
        
        <div class="profile-info-col">
            <h2>Hair Information</h2>
            <div class="profile-info-row">
                <p>Natural Color</p>
                <p>Brown</p>
            </div>
            <div class="profile-info-row">
                <p>Current Color</p>
                <p>Red</p>
            </div>
            <div class="profile-info-row">
                <p>Type</p>
                <p>Curly</p>
            </div>
            <div class="profile-info-row">
                <p>Texture</p>
                <p>Thicc</p>
            </div>
            <div class="profile-info-row">
                <p>Length</p>
                <p>Bald</p>
            </div>
            <div class="profile-info-row-list">
                <p>Allergies</p>
                <p>Water, Air, Corn, and Peanuts</p>
            </div>
            <div class="profile-info-row-list">
                <p>Medical</p>
                <p>Water Sprayer PTSD and hyper sensitivity</p>
            </div>
        </div>
    </div>

    <!-- Carousel -->
    <div>
        Carousel
    </div>

    <h1>Prior Appointments</h1>

    <!-- Appointment Div -->
</body>
</html>