<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>

        <script type="module" src="../../scripts/main.js"></script>
</head>

<body class="container">
    <!-- modals go here -->

    <!-- navbar here -->
    <%- include('../../partials/navbar'); %>
        <!-- use navbar spacer if you don't want things to go behind the navbar -->
        <%- include('../../partials/navbar-spacer'); %>

            <!-- page content here -->
            <h1>Admin Schedule Page</h1>

            <%- include('../../partials/footer'); %>
</body>

</html>