<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
    <script type="module" src="../../scripts/main.js"></script>
</head>

<body class="container" id="schedule-page">
    <!-- modals go here -->
    <%- include('../../partials/modals/acknowledgmentModal', { title: "Error", text: "Could not delete" }); %>
    <!-- navbar here -->
    <%- include('../../partials/admin-navbar'); %>
    <!-- use navbar spacer if you don't want things to go behind the navbar -->
    <%- include('../../partials/navbar-spacer'); %>

    <!-- page content here -->

    <h1 class="page-title">Admin Schedule Page</h1>
    <div class="all-schedule-filters">
        <div class="filters-left">
            <button class="schedule-filter active-filter" id="all-filter">All</button>
            <button class="schedule-filter" id="day-filter">Today</button>
            <button class="schedule-filter" id="week-filter">Week</button>
            <button class="schedule-filter" id="month-filter">Month</button>
        </div>
        <input id="date-filter" type="date" />
    </div>

    <div id="appts-container"></div>

    <script src="../../scripts/admin/schedule.js"></script>
</body>
</html>