<div class="appointment-full">
    <!-- * Fill out info from the database -->
    <h2>Haircut, Hair Dye *</h2>
    <h3>May 9th, 2020 @ 3:30 PM *</h3>
    <a href="/profiles/:id">John Doe *</a>
    <h3>Ironing, Scalp Treatment *</h3>
    <h3>Estimated Price: $9999 *</h3>
    <button>Cancel</button>
    <p>Cancelation not available within 24 hours of appointment</p>
</div>