<div class="appointment-partial">
    <!-- * Fill out info from the database -->
    <h2>Haircut, Hair Dye *</h2>
    <h3>May 9th, 2020 @ 3:30 PM *</h3>
    <a href="/profiles/:id">John Doe *</a>
    <button>Expand</button>
    <button>Cancel</button>
</div>